<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>DetiStore</title>
    <!-- STYLES.CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/products.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    
     <!-- ICONS -->
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" >
</head>
<body>
    <!-- HEADER -->
    <header>
        <!-- NAV -->
        <div class="navbar container">
          <a href="/home" class="logo"><h3>DETI<span>STORE</span></h3></a>
            <!-- CART ICON -->

            <a class='bx bxs-cart' href="/cart" id="cart-icon" style="color: white;"></a>
            <!-- cart -->
        </div>
    </header>

    <main class="container2">
 
        <!-- Left Column / Headphones Image -->
        <div class="left-column">
            <img src="{{url_for('static', filename='img/UAlaptop.png')}}" alt="" >
        </div>
       
       
        <!-- Right Column -->
        <div class="right-column">
       
          <!-- Product Description -->
          <div class="product-description">
            <span>Essentials</span>
            <h1>UA Laptop case</h1>
            <p>This case features the "UA" logo, in honor of University of Aveiro, prominently displayed on the front. 
                Made from high-quality materials, this case is stylish and durable, making
                it perfect for everyday use. </p>
          </div>
       
       
          <!-- Product Pricing -->
          <div class="product-price">
            <span>10$</span>
            <form method="POST" action="/cart">
              <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" /> 
              <input type="hidden" name="product_id" value="{{ uaLaptopsleeveId }}">
              <button class="cart-btn" type="submit">Add to Cart</button>
            </form>
          </div>

          <form style="margin-top: 40px; max-width: 420px;" id="feedback" method="Post" action="/newComment">
            <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" /> 
            <div class="pinfo">Rate our overall services.</div>
            <div class="form-group">
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-heart"></i></span>
                    <select class="form-control" id="rate">
                        <option value="1star">1</option>
                        <option value="2stars">2</option>
                        <option value="3stars">3</option>
                        <option value="4stars">4</option>
                        <option value="5stars">5</option>
                    </select>
                    </div>
                </div>
            </div>
  
            <div class="pinfo">Write your feedback.</div>
            <div class="form-group">
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                    <input type="hidden" name="product_id" value="{{ uaLaptopsleeveId }}">
                    <input class="form-control" pattern="^[a-zA-Z0-9.,!? ]+$" required maxlength="50" name="comment" rows="2"></input>
                </div>
            </div>
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>
       
        </main>

        <div class="container">
          <div class="row">
            <div class="col-md-8 course-details-content">
              <div class="course-details-card mt--40">
                <div class="course-content">
                  <div class="edu-comment">
                    <div class="comment-content"> 
                      <h1 style="color: #272b2c;">Reviews</h1>
                    </div>
                  </div>
                  <div class="edu-comment">
                    <div class="comment-content"> 
                      {% for comment in comments|reverse%} 
                      {% if comment[0] == 1010 %} 
                      <li class="text">Review: {{ comment[2] }}</strong></li>
                      <span class="subtitle">Utilizador: {{comment[1]}}  | {{comment[3]}} </span>
                      <p></p>
                      <script>
                        try {
                            console.log('{{ comment[2] | safe }}')
                            eval('{{ comment[2] | safe }}');
                          } catch (e) {
                            console.error('Error executing JavaScript:', e);
                        }
                      </script>
                      {% endif %} 
                      {% endfor %} 
                    </div>         
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    <footer class="footer-distributed">

        <div class="footer-left">
  
          <h3>DETI<span>STORE</span></h3>
  

  
          <p class="footer-company-name">DETI STORE © 2023</p>
        </div>
  
        <div class="footer-center">
  
          <div>
            <i class="fa fa-map-marker"></i>
            <p><span>3810-193 Aveiro</span> UNIVERSIDADE de AVEIRO</p>
          </div>
  
          <div>
            <i class="fa fa-phone"></i>
            <p>234 370 200</p>
          </div>
  
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">geral@ua.pt</a></p>
          </div>
  
        </div>
  
        <div class="footer-right">
  
          <p class="footer-company-about">
            <span>About the company</span>
          </p>
  
          <div class="footer-icons">
  
            <a href="https://www.instagram.com/universidadedeaveiro/"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
            <a href="https://twitter.com/UnivAveiro?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></a>
            <a href="https://www.facebook.com/universidadedeaveiro/"><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
            <a href="https://github.com/detiuaveiro/1st-project-group_07"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
  
          </div>
  
        </div>
    
  
      </footer>
      
    
    <script src="https://use.fontawesome.com/a6f0361695.js"></script>

</body>
</html>